*{
    box-sizing: border-box;
    margin: 0px;
}

.background{
    width: 1024px;
    height: 600px;
    background-image: url(/cyworld/images/background.png);
    padding: 20px 0 0 20px;
}
.outerbox{
    width: 808px;
    height: 544px;
    background-image: url(/cyworld/images/outerbox.png);
}

.wrapper{   
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

.wrapper_left{
    display: flex;
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}


.wrapper_left_header{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.today{
    font-size: 9px;
}


.wrapper_left_body{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}
.left_body_header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.left-body-header-gray{
    width: 148px;
    height: 133px;
    background-image: url(/cyworld/images/KakaoTalk_20230209_184019167.jpg);
    background-size: cover;
}
.left-body-header-line{
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left_body_profile{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.body-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    color: gray;
}

.left_body_footer{
    width: 100%;
    margin-bottom: 30px;
}
.today-feeling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: gray;

}
.feeling{
    font-size: 11px;
    margin-bottom: 5px;
    color: gray;
}

.wrapper_right{
    display: flex;
    width: 524px;
    height: 472px;
}